@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: url("/photo/bg4.png") no-repeat center fixed;
    background-size: cover;
    color: #f2f2f2;
}

.topnav {
  position: relative;
  overflow: hidden;
  //background-color: #333;
  background-color: rgba(45,40,50,0.8);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

h1 {
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.orderContent.text-center {
    position: relative;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: #f2f2f2;
    //background: #2d2832;
    background-color: rgba(45,40,50,0.8);
}

.orderContentTable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.orderContentTable th {
  font-size: 23px;
  margin-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 5px solid #f2f2f2;
}

.orderContentTable td {
  font-size: 18px;
  padding-top: 30px;
}

.order-form {
  text-align: center;
}

.order-form label{
  font-size: 20px;
  margin-right: 10px;
}

#orderTime {
  background-color: #DAAD86;
  padding: 15px;
  color: #f2f2f2;;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

#order-form-submit {
  margin-left: 10px;
  height: 45px;
  width: 180px;
  font-size: 20px;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  background-color: #030105;
}

#order-form-submit:hover {
    text-decoration: none;
    color:white;
    opacity: 0.8;
}

.orderMsg {
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
}

#back-button {
  margin-top: 40px;
  height: 60px;
  width: 150px;
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  background-color: #030105;
}

#back-button:hover {
   text-decoration: none;
   opacity: 0.8;
}