.navbar {
      width: 200px;
      position: fixed;
      top: 50px;
      left: 0;
      bottom: 0;
      background-color: #f1f1f1;
      overflow: auto;
    }

.navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.hide {
  display: none;
}

#navbarToggler {
  display: inline-block;
  cursor: pointer;
}

.table.mx-auto {
  border: 1px solid black;
  border-collapse: collapse;
}