@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    //background: #E8A87C;
    background: url("/photo/bg4.png") no-repeat center fixed;
    background-size: cover;
    color: #f2f2f2;
}

img {
    margin: 10px;
}

.topnav {
    position: relative;
    overflow: hidden;
    //background-color: #333;
    background-color: rgba(45,40,50,0.8);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.homepage-searchfuction {
    position: relative;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: inline-block;
    padding: 10px;
    border-radius: 25px;

    background-color: rgba(45,40,50,0.8);
}

.homepage-header {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.homepage-searchform {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
}

.homepage-searchform-bar {
    width: 600px;
    height: 60px;
    font-size: 22px;
    margin-right: 20px;
    padding-left: 15px;
    border-radius: 20px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
}

.homepage-searchform-bar:focus {
    border-bottom: 2px solid #f0862b;
    -webkit-transition: 0.1s;
    transition: 0.5s;
}

#homepage-searchform-button {
    width: 100px;
    height: 60px;
    font-size: 22px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    background-color: #030105;
}

#homepage-searchform-button:hover {
    background-color: #030105;
    opacity: 0.8;
}

.homepage-searchform-text {
    text-align: left;
    color: red;
    margin-left:200px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.homepage-quickAccess {
    text-align: center;
    margin-bottom: 25px;
}

.homepage-quickAccess-label {
    font-size: 22px;
    margin-right: 10px;
}

.homepage-quickAccess a {
    width: 100px;
    height: 45px;
    font-size: 22px;
    margin-left: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    background-color: #030105;
}

.homepage-quickAccess a:hover {
    border-color: white;
    background-color: #030105;
    opacity: 0.8;
}

#homepage-quickAccess-button-1 {
    width: 150px;
}

#homepage-quickAccess-button-2 {
    width: 150px;
}

.homepage-filterForm {
    text-align: center;
}

.homepage-filterForm label {
    font-size: 20px;
    margin-right: 20px;
}

.homepage-filterForm span{
    font-size: 20px;
    margin-left: 6px;
    margin-right: 10px;
}

.homepage-filterForm-checkbox {
    width: 15px;
    height: 15px;
    border-radius: 12px;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.homepage-menu {
  margin-top: 30px;
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #f2f2f2;
  background-color: rgba(45,40,50,0.8);
}

.homepage-menu-text {
    font-size: 45px;
    margin: 20px;
    text-align: center;
}


.homepage-menu-table th {
    font-size: 20px;
    margin-bottom: 80px;
    border-bottom: 5px solid #f2f2f2;
}

#thCalorie {
    margin-left: 10px;
}

#thPrice {
    margin-left: 10px;
}

.homepage-menu-table td {
  font-size: 16px;
}

.homepage-menu-table a {
  color: white;
}

