@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    //background: #DAAD86;
    //background: #E8A87C;
    //background: #ffb15e;
    //background: #0B0C10;
    background: url("/photo/bg4.png") no-repeat center fixed;
    background-size: cover;
    color: #f2f2f2;
}

.topnav {
  position: relative;
  overflow: hidden;
  //background-color: #333;
  background-color: rgba(45,40,50,0.8);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
    float: right;
}

.title {
  //margin-top: 10px;
  text-align: center;
}

.title h1 {
  font-size: 100px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.imgContainer img {
    margin-right: 30px;

}

.container.text-center {
  margin-top: 30px;
}

.passwordRequirements {
  display: inline-block;
  padding: 10px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #f2f2f2;
  //background-color: #2d2832;
  background-color: rgba(45,40,50,0.8);
}

.passwordRequirements ul {
  display: inline-block;
  text-align: left;
}

.button {
  font-size: 22px;
  width: 110px;
  height: 55px;
  border-radius: 15px;
  border-style: solid;
  //border-color: #F19c30;
  border-color: white;
  //background-color: #5b20af;
  background-color: #030105;
  //background-color: #2f105a;
  //background-color: #705892;
  color: #f2f2f2;
}

.button:hover {
    text-decoration: none;
    color:white;
    background-color: #2f105a;
}

