@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    //background: #DAAD86;
    //background: #2d2832;
    //background: #ffb15e;
    background: url("/photo/bg4.png") no-repeat center fixed;
    background-size: cover;
    color: #f2f2f2;
}

.topnav {
  position: relative;
  overflow: hidden;
  //background-color: #333;
  background-color: rgba(45,40,50,0.8);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.settingInformation {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: #f2f2f2;
    //background: #2d2832;
    background-color: rgba(45,40,50,0.8);
}

.settingInformation h3 {
  font-size: 50px;
}

.settingInformation p {
  color: red;
}

.settingInformation form {
  max-width: 600px;
  margin: 0 auto;
}

.button {
  font-size: 22px;
  width: 220px;
  height: 70px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  background-color: #030105;
  color: #f2f2f2;
}

.button:hover {
    text-decoration: none;
    color:white;
    background-color: #2f105a;
}



.error-msg {
  text-align: center;
  color: red;
}

.passwordRequirements {
  display: inline-block;
  margin-top: 30px;
  padding: 10px;
  border-radius: 25px;
  border-width: 5px;
  border-style: solid;
  border-color: #f2f2f2;
  background-color: rgba(45,40,50,0.8);
}

.passwordRequirements ul {
  display: inline-block;
  text-align: left;
}


