<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
</head>
<body>
    <div>
        <nav class="topnav">
            <a th:href="@{/homepage}" class="link">Home</a>
            <a th:href="@{/myOrder}" class="link">Order</a>
            <a href="#" class="link">Setting</a>
            <a th:href="@{/logout}" class="link">Logout</a>
        </nav>
    </div>
    <div class="container text-center">
        <div>
            <br>
            <h1>My Order</h1>
        </div>
        <div>
            <table class="table mx-auto" style="width:50%;">
                <thead>
                    <tr>
                        <th>Sushi Name</th>
                        <th>Calorie Per Sushi(Kcal)</th>
                        <th>Price Per Sushi(Pounds)</th>
                        <th>Order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sushi: ${currentOrder}">
                        <td th:text="${sushi.sushiName}"></td>
                        <td th:text="${sushi.calorie}"></td>
                        <td th:text="${sushi.price}"></td>
                        <!-- Ordering -->
                        <td>
                            <div class="d-flex align-items-center">
                                <form th:action="@{/myOrder/{variable}(variable='decrementOrder')}" method="post">
                                    <input type="hidden" name="target" th:value="${sushi.sushiName}">
                                    <button type="submit" class="btn btn-danger">-</button>
                                </form>
                                <span th:text="${sushi.order}" class="mx-3"></span>
                                <form th:action="@{/myOrder/{variable}(variable='incrementOrder')}" method="post">
                                    <input type="hidden" name="target" th:value="${sushi.sushiName}">
                                    <button type="submit" class="btn btn-success">+</button>
                                </form>
                            </div>

                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <form th:action="@{/order/submit}" method="post" th:unless="${currentOrder.isEmpty()}">
                <button type="submit" class="btn btn-primary">Submit Order</button>
            </form>
            <br>
            <a class="btn btn-primary" th:href="@{/homepage/return}">Back</a>
        </div>
    </div>
</body>
</html>