<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Welcome</h1>
    </div>

    <div class="navbar hide" id="myNavbar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </div>
    <div id="navbarToggler">
        <span style="position:absolute; top:0; left:0; font-size:30px;cursor:pointer" onclick="toggleNavbar()">
            &#9776;</span>
    </div>
    <script>
        function toggleNavbar() {
          var x = document.getElementById("myNavbar");
          if (x.className === "navbar hide") {
            x.className = "navbar show";
          } else {
            x.className = "navbar hide";
          }
        }
    </script>
    <div class="d-flex justify-content-center">
        <form action="#" th:action="@{/sushi/search}" method="get">
            <div class='form-inline'>
                <input class="form-control mr-2" style="width: 500px;" type="search" name="query"
                       th:value="${search_value}" id="search" placeholder="Sushi Name" autocomplete="off" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <br>
    <div>
        <a class="btn btn-primary" th:href="@{/sushi/{variable}(variable='NamedSushi')}">All Sushi</a>
        <a class="btn btn-primary" th:href="@{/sushi/{variable}(variable='Roll')}">Roll Sushi</a>
        <a class="btn btn-primary" th:href="@{/sushi/{variable}(variable='Nigiri')}">Roll Sushi</a>
    </div>
</div>
<table>
    <tr th:each="sushi: ${allSushiFromType}">
        <td th:text="${sushi}"></td>
    </tr>
</table>
</body>
</html>