<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
</head>
<body>
<!--Nav Bar-->
<div>
    <nav class="topnav">
        <a th:href="@{/homepage}" class="link">Home</a>
        <a th:href="@{/myOrder}" class="link">Order</a>
        <a th:href="@{/setting}" class="link">Setting</a>
        <a th:href="@{/logout}" class="link">Logout</a>
    </nav>
</div>

<div class="container text-center">
    <div>
        <br>
        <h1 th:text="Welcome + ' ' + ${currentUser.username}">Welcome</h1>
    </div>

    <!-- Search bar -->
    <div class="d-flex justify-content-center">
        <form action="#" th:action="@{/homepage/sushi/search}" method="get">
            <div class='form-inline'>
                <input class="form-control mr-2" style="width: 500px;" type="search" name="query"
                       th:value="${search_valuef}" id="search" placeholder="Sushi Name" autocomplete="off" />
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <br>
    <!-- Buttons -->
    <div>
        <a class="btn btn-primary" th:href="@{/homepage/sushi/{variable}(variable='NamedSushi')}">All Sushi</a>
        <a class="btn btn-primary" th:href="@{/homepage/sushi/{variable}(variable='Roll')}">Roll</a>
        <a class="btn btn-primary" th:href="@{/homepage/sushi/{variable}(variable='Nigiri')}">Nigiri</a>
        <a class="btn btn-primary" th:href="@{/homepage/sushi/{variable}(variable='VegetarianSushi')}">Vegetarian</a>
    </div>
    <!-- Filter -->
    <br>

    <form id="filterForm" action="#" th:action="@{/homepage/filterSushi}" method="get">
        <input type="checkbox" name="allergens" value="CrustaceanShellfishAllergenSushi"
               th:checked="${selectedAllergens.contains('CrustaceanShellfishAllergenSushi')}">Seafood Allergen
        <input type="checkbox" name="allergens" value="MilkAllergenSushi"
               th:checked="${selectedAllergens.contains('MilkAllergenSushi')}">Milk Allergen
    </form>
    <!--
    th:checked="${selectedAllergens.contains('peanut-allergen')}"
    th:checked="${selectedAllergens.contains('seafood-allergen')}"
    th:checked="${selectedAllergens.contains('milk-allergen')}
    -->
    <script>
      const form = document.getElementById("filterForm");
      const checkboxes = form.elements["allergens"];

      for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", function() {
          form.submit();
        });
      }
    </script>

</div>
<br>
<div>
    <h3 class="text-center">All Sushi</h3>
    <table class="table mx-auto" style="width:50%;">
        <thead>
            <tr>
                <th>Image</th>
                <th>Sushi Name</th>
                <th>Calorie Per Sushi(Kcal)</th>
                <th>Price Per Sushi(Pounds)</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sushi: ${allSushiFromType}">
                <td><img th:src="@{/photo/{sushi}.png(sushi=${sushi.iriShortForm})}"></td>
                <td><a th:text="${sushi.sushiName}"
                       th:href="@{/homepage/sushi/detail/{variable}(variable=${sushi.iriShortForm})}"></a></td>
                <td th:text="${sushi.calorie}"></td>
                <td th:text="${sushi.price}"></td>
                <!-- Ordering -->
                <td>
                    <div class="d-flex align-items-center">
                        <form th:action="@{/homepage/order/{variable}(variable='decrementOrder')}" method="post">
                            <input type="hidden" name="target" th:value="${sushi.sushiName}">
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                        <span th:text="${sushi.order}" class="mx-3"></span>
                        <form th:action="@{/homepage/order/{variable}(variable='incrementOrder')}" method="post">
                            <input type="hidden" name="target" th:value="${sushi.sushiName}">
                            <button type="submit" class="btn btn-success">+</button>
                        </form>
                    </div>

                </td>

            </tr>
        </tbody>
    </table>
</div>

</body>
</html>