<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sushiroo</title>
    <link rel="stylesheet" th:href="@{/css/indexAndSignup.css}">
</head>
<body>
    <div>
        <nav class="topnav">
            <a th:href="@{/}" class="link">Home</a>
            <a th:href="@{/aboutUs}" class="link">About us</a>
            <div class="topnav-right">
                <a th:href="@{/login}" class="link">Login</a>
                <a th:href="@{/register}" class="link">Register</a>
            </div>
        </nav>
    </div>

    <div class="title">
        <h1>Welcome to Sushiro</h1>
    </div>

</body>
</html>