<!--
<!DOCTYPE html>
<html lang="en" xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="allergen-filter">
        <form action="#" th:action="@{/testing/filtersushi}" method="get">
            <label><input type="checkbox" name="allergen" value="milk" th:value="'milk'"
                          onchange="$(this).closest('form').submit();"/>Milk Allergen</label>
            <label><input type="checkbox" name="allergen" value="seafood" th:value="'seafood'"/>Seafood Allergen</label>
            <input type="submit" value="Filter"/>
        </form>
    </div>

    <br>
    <form id="filterForm" th:action="@{/filterSushi}" method="get">
        <label><input type="checkbox" name="allergens" value="peanut-allergen"
                      th:checked="${selectedAllergens.contains('peanut-allergen')}">Peanut Allergen</label>
        <label><input type="checkbox" name="allergens" value="seafood-allergen"
                      th:checked="${selectedAllergens.contains('seafood-allergen')}">Seafood Allergen</label>
        <label><input type="checkbox" name="allergens" value="milk-allergen"
                      th:checked="${selectedAllergens.contains('milk-allergen')}">Milk Allergen</label>
    </form>
    <script>
      const form = document.getElementById("filterForm");
      const checkboxes = form.elements["allergens"];

      for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", function() {
          form.submit();
        });
      }
    </script>




    <div>
        <table class="table mx-auto" style="width:50%;">
            <tbody>
                <tr th:each="testsingle: ${test}">
                    <td th:text="${testsingle}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
-->